.galleryItem img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .galleryContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
  
  }
 
  
  .filterItem ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin-bottom:30px ;
  }
  .filterItem ul button {
    background: rgb(9, 48, 126);
    color: #fff;
    padding: 5px 21px;
    text-transform: uppercase;
    border:navajowhite ;
    font-size: 17px;
    border-radius: 10px;
  
  }
  .filterItem ul button:hover{
   background: #222;
   cursor: pointer;
  
  }
  .galleryWrapper{
    padding: 5% 10%;
    
  }
  .tarif{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 20px;
  }
  .social{
    display: flex;
    color :black;
  }
  img {
  
    width: 1380px;
    height: 650px;

    
  }

 .nav.Link{
  color: white !important;
 }